/*
// GLOBAL, BASE AND UTILITY //
*/

/* HTML5 reset for older browsers */
figcaption, figure, 
footer, header, article,
main, nav, section {
  display: block;
}

body {
  font-family: Arial, sans-serif;
  color: #000000;
  background: #FEFEFE;
  margin: 0 auto;
}

body, html {
  overflow-x: hidden !important;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

.container--main {
  max-width: 960px;
}

.container--slim {
  max-width: 800px;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.tdn {
  text-decoration: none;
}

/*
// HEADER //
*/
.header {
  background: rgba(50, 147, 237, 1);
  text-align: center;
  padding: 20px 0;
}

.header__title {
  color: #FEFEFE;
  font-size: 28px;
  display: inline-block;
  margin-bottom: 14px;
}

/*
// NAV //
*/
.nav {
  float: none;
}

.nav__list {
  list-style-type: none;
  display: none;
}

.nav__item {
  display: block;
  padding: 2px 0;
  font-size: 20px;
}

.nav__link {
  color: #000000;
  font-weight: 600;
}

.nav__link:hover {
  color: #FEFEFE;
  transition: ease 0.4s all;
}

/* Mobile menu toggle */
.show-menu {
  display: block;
  position: absolute;
  right: 10px;
  top: 20px;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

/*
// GENERAL //
*/
.main-introduction {
  padding: 0 0 15px 0;
  /* Gradient */
  background: -moz-linear-gradient(270deg, rgba(50,147,237,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(50,147,237,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(270deg, rgba(50,147,237,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(270deg, rgba(50,147,237,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(270deg, rgba(50,147,237,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(180deg, rgba(50,147,237,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3293ED', endColorstr='#FFFFFF',GradientType=0 );
  color: #000000;
}

.main-introduction__picture {
  border-radius: 10px;
  margin: 10px auto 24px auto;
}

.main-introduction__text {
  font-size: 18px;
  font-weight: bold;
  /*text-decoration: underline;*/
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.4;
}

.general-btn { 
  margin: 12px 0 25px 0;
  display: none;
}

.main-introduction__btn {
  padding: 10px 50px;
  border-radius: 50px;
  border: 2px solid rgba(50, 147, 237, 1);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.main-introduction__btn:hover {
  background: rgba(50, 147, 237, 1);
  color: #FEFEFE;
  cursor: pointer;
  transition: ease 0.3s all;
  outline: none;
  -webkit-appearance: none;
}

/*
// FOOTER //
*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  border-top: 1px solid #ccc;
  padding: 4px;
}

.footer__text {
  font-size: 14px;
  color: #FEFEFE;
}

/*
// RESPONSIVE //
*/
@media screen and (min-width: 576px) {
  .header {
    text-align: left;
  }

  .header__title {
    font-size: 40px;
  }

  .show-menu {
    top: 31px;
  }
}

@media screen and (min-width: 767px) {
  .header__title {
    margin-bottom: 0;
  }

  .nav {
    float: right;
  }

  .nav__list {
    display: block;
  }

  .nav__item {
    display: inline-block;
    width: auto;
    padding: 18px 12px 0;
  }

  .show-menu {
    display: none;
  }

  .general-btn {
    display: block;
  }

  .main-introduction__text {
    font-size: 22px;
  }
}

@media screen and (min-width: 992px) {
  .main-introduction {
    padding: 0;
  }
}