/*
// GLOBAL, BASE AND UTILITY //
*/

/* HTML5 reset for older browsers */
figcaption, figure, 
footer, header, article,
main, nav, section {
  display: block;
}

body {
  font-family: Arial, sans-serif;
  color: #000000;
  background: #FEFEFE;
  margin: 0 auto;
}

body, html {
  overflow-x: hidden !important;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

.container--main {
  max-width: 960px;
}

.container--slim {
  max-width: 800px;
}

.container--header {
  margin: 0 auto;
}

.container--news {
  /*font-size: 0;*/
  overflow: hidden;
  padding: 15px 0;
}

.page-section {
  padding: 15px;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.tdn {
  text-decoration: none;
}

.font-fancy {
  font-family:'Pacifico', cursive;
  font-weight: 400;
}

.font-italic {
  font-style: italic;
}

/*
// HEADER //
*/
.header {
  /*background: #05192E;*/
  background: #D9BFD9;
  /*padding: 20px 0 0;*/
  padding: 20px 30px;
  border-bottom: 4px solid #C8A2C8;
}

.header__title {
  /*color: #FEFEFE;*/
  color: #000000;
  font-size: 28px;
  /*padding: 0 30px;*/
}

/*
// GENERAL //
*/
.main-introduction {
  padding: 6px 20px;
  /*background: #333333;
  color: #FFFFFF;*/
  background: #E3CFE3;
  color: #000000;
}

.main-introduction__text {
  font-size: 22px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/*
// ACCOMMODATION //
*/
.news {
  /*background: #05192E;*/
  background: #E3CFE3;
  color: #000000;
}

.news__headline {
  margin-top: 5px;
  margin-bottom: 6px;
  border-top: 3px solid #05192E;
  padding-top: 20px;
  font-size: 30px;
  /*text-decoration: underline;*/
  border-top: 3px solid #05192E;
}

.news--left__title {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 20px;
}

.news--left__text {
  font-size: 18px;
  line-height: 1.3;
  margin-top: 5px;
}

.news--left__bullets {
  list-style-type: none;
}

.news--left {
  width: 100%;
}

.news--right {
  width: 100%;
  text-align: left;
}

/* The news avater */
.news--right__img {
  width: 100%;
  border-radius: 4px;
}

/*
// CONTACT FORM //
*/
.section-contact {
  /*background: #333333;
  color: #FEFEFE;*/
  background: #D9BFD9;
  color: #000000;
  border-top: 4px solid #C8A2C8;
}

.section-contact__title {
  font-size: 28px;
}

.section-contact__text {
  font-size: 17px;
}

.section-contact__email:link { color: #FFFFFF; }
.section-contact__email:visited { color: #FFFFFF; }
.section-contact__email:hover { color: #FF0000; }
.section-contact__email:active { color: #FFFFFF; }

/* Form */
.contact-form {  
  margin-top: 30px;
  /*font-family: inherit;*/
}

.contact-form textarea {
  resize: none;
}

/* Form Inputs */
.contact-form__input, 
.contact-form__textarea {
  font-size: 100%;
  font-family: inherit;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 98%;
  display: block;
}

 /* Form Button */
 .contact-form__btn {
  padding: 9px 0;
  border-radius: 6px;
  border: none;
  background: #A7ADAD;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  width: 70%;
  margin: 10px 0;
}
  
.contact-form__btn:hover {
  background: #CCCCCC;
  color: A7ADAD;
  cursor: pointer;
  transition: ease 0.3s all;
  outline: none;
  -webkit-appearance: none;
}

/* THE SUCCESS */
.success-area {
  background: #FEFEFE;
  margin: 250px 0 450px 0;
}

.success-area__text {
  font-size: 22px;
}

.success-area__link {
  color: #000000;
}

.gifts {
  background: #C8A2C8;
  padding: 16px 0;
}

.gifts__text {
  margin: 0;
  font-size: 26px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/*
// FOOTER //
*/
.footer {
  /*background: #333333;*/
  border-top: 4px solid #000000;
  padding: 4px;
  background: #C8A2C8;
}

.footer__text {
  font-size: 14px;
  /*color: #FEFEFE;*/
  color: #000000;
}

.footer__link {
  /*color: #FEFEFE;*/
  color: #000000;
}

/*
// RESPONSIVE //
*/
@media screen and (min-width: 767px) {
  .header__title {
    margin-bottom: 0;
  }

  .header__title, .section-contact__title {
    font-size: 40px;
  }

  .main-introduction__text {
    font-size: 28px;
  }

  .news--right {
    float: right;
    width: 50%;
    text-align: right;
  }

  .news--left {
    float: left;
    width: 45%;
  }

  .news--left__title {
    margin-top: 0;
  }

  .news--left__text {
    margin-top: 15px;
  }
}
